<?xml version='1.0' encoding='utf-8'?>
<widget id="com.waecresultscheckercenter.app" version="6.0" versionCode = "6" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BECE AND WAEC SCRATCH CARDS</name>
    <description>
       Buy WAEC Cards, BECE Placement Cards, Check WASSCE Results, NOV/DEC and BECE Placement. This app provides the fastest way to buy WAEC CARDS and check all WAEC RESULTS with your MOBILE MONEY or VISA CARD.
Now BECE, WASSCE and NOV/DEC students can buy WAEC RESULTS CHECKER CARDS and check their results by the click of a button. Download this app to experience it.
This SCRATCH CARDS app enables students to buy WAEC CARDS, WAEC RESULTS CHECKER CARDS, BECE CARDS AND GES PLACEMENT CARDS to check all WAEC Exams results including WASSCE Exams results, BECE Exams results, NOV/DEC Exams RESULTS and BECE PLACEMENT at the comfort of your home.

Those in Ghana can Buy WAEC RESULTS CHECKER CARDS using MOBILE MONEY right inside this app. Its hassle free!!!!! 
For assistance or clarification, kindly whatsapp or call us on 0238459310; 0246827049; 0541517784
This WAEC RESULTS CHECKER APP is the all-purpose solution for checking WAEC RESULT and BECE PLACEMENT.
    </description>
    <author email="richardneaverscoy@gmail.com" href="#">
         BECE AND WAEC SCRATCH CARDS
    </author>
    <plugin name="org.apache.cordova.inappbrowser" source="npm" />
    <preference name="CrosswalkAnimatable" value="true" />
    <content src="index.html" />
    <icon src="icon.png"/>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <!--<feature name="InAppBrowser">
        <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
    </feature>-->
</widget>
